/* ==========================================================================
   DEFAULT THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : #9ba1a6;
$lighter-gray               : mix(#fff, $gray, 90%);
$blue-gray                  : mix(#263238, $gray, 20%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$gray};
    --global-bg-color                   : #fafafa;  // Very light gray, easier on eyes
    --global-footer-bg-color            : #f2f3f3;
    --global-border-color               : #{$blue-gray};
    --global-dark-border-color          : #bdc1c4;
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : mix(#fff,  #{$dark-gray}, 25%);
    --global-link-color: #0056b3;         // Royal Blue for light theme
    --global-link-color-hover: #003974;   // Darker on hover
    
    // --global-link-color-hover           : mix(#000, #2f7f93, 25%);
    --global-link-color-hover           : #208bbd;
    
    --global-link-color-visited         : mix(#fff, #2f7f93, 25%);  
    --global-masthead-link-color        : #{$dark-gray};
    --global-masthead-link-color-hover  : mix(#000, #{$gray}, 25%);    
    --global-text-color                 : #{$dark-gray};
    --global-text-color-light           : #{$light-gray};
    --global-thead-color                : #{$blue-gray};

    --meta-text-color                    : #6c757d;   /* Light theme */
}

// Global meta-text class for details (dates, locations, etc.)
.meta-text {
  text-align: right;
  min-width: 170px;
  color: var(--meta-text-color);
  font-size: 0.95em;
}


.edu-entry, .exp-entry {
  display: flex;
  align-items: flex-start;
  gap: 1em;
  overflow: visible;
}
.edu-logo, .exp-logo {
  width: 45px;
  height: 45px;
  object-fit: contain;
}
.edu-details, .exp-details {
  flex: 1;
}
.logo-wrapper {
  background: #fff8ec;
  box-shadow: 0 1px 4px var(--meta-text-color);
  display: inline-block;
  padding: 8px;
  border-radius: 6px;
  margin-top: 10px;
  margin-left: 10px;
}